.nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.nav-itens{
   list-style: none;
   display: flex;
}
.nav-itens > li {
   padding: 30px;
   
}
.nav img{
   width: 200px;
}